.control {
  height: 100%;
  overflow: auto;
  .right-tab {
    height: 100%;
    :global(.ant-tabs-nav) {
      padding-left: 10px;
      margin: 0;
    }
    .comp-wrapper {
      height: 100%;
      padding: 10px;
      .comp-image {
        width: 70px;
        height: 70px;
        margin: 0 5px 5px 0;
        cursor: pointer;
        object-fit: contain;
        border: 1px solid #ccc;
      }
    }
  }
}
