.edit-project-wrapper {
  height: 100%;
  .edit-project-header {
    height: 48px;
    line-height: 48px;
    padding: 0 10px;
    font-weight: bold;
    box-shadow: 0 1px 1px #ccc;
  }
  .edit-project-main {
    height: calc(100% - 48px);
    .edit-project-left,
    .edit-project-center,
    .edit-project-right {
      float: left;
      width: 300px;
      height: 100%;
    }
    .edit-project-left {
      box-shadow: 1px 0 1px #ccc;
    }
    .edit-project-center {
      width: calc(100% - 600px);
      margin: 0 auto;
      overflow: hidden;
    }
    .edit-project-right {
      box-shadow: -1px 0 1px #ccc;
    }
  }
}
