.three-config {
  height: 100%;
  overflow: hidden;
  display: flex;
  .three-canvas {
    width: calc(100% - 300px);
    height: 100%;
    box-shadow: 1px 0 1px #999;
  }
  .three-conf {
    width: 300px;
    height: 100%;
    padding: 10px;
    overflow: auto;
  }
}
