:global(#root) {
  margin: 0;
  height: 100%;
}

:global(.card) {
  margin: 20px;
  padding: 10px;
  box-shadow: 0px 0px 10px #ccc;
  min-height: 600px;
}

/* 左右浮动及清除浮动 */
:global(.float-left) {
  float: left;
}
:global(.float-right) {
  float: right;
}
:global(.clearfix:after) {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* 若需要兼容ie6、7 加上以下代码 */
:global(.clearfix) {
  *zoom: 1;
}

/* 溢出隐藏 */
:global(.ellipsis) {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 外边距 */
:global(.ml-5) {
  margin-left: 5px;
}
:global(.ml-10) {
  margin-left: 10px;
}
:global(.ml-20) {
  margin-left: 20px;
}
:global(.mr-5) {
  margin-right: 5px;
}
:global(.mr-10) {
  margin-right: 10px;
}
:global(.mr-20) {
  margin-right: 20px;
}
