.system-layout {
  height: 100%;
  overflow: hidden;
  .system-header {
    height: 48px;
    line-height: 48px;
    background: #3ba0e9;
  }
  .system-menu {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
